html {
	/* Bình thường 1rem = 16px, dòng này làm 1rem = 10px; */
	font-size: 100%;

	/* 10px */
}

body {
	box-sizing: border-box;
	font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
	/* RESET lại font-size về 16px (1.6rem) */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	--primary-color: 249, 99, 50;
}

.x_container {
	width: 100%;
	max-width: 128rem;
	margin: 0 auto;
	padding: 0 8rem;
}

.x_bg-primary {
	background: var(--primary-color) !important;
}

.x_border-8 {
	border-radius: 0.8rem !important;
}

.x_border-16 {
	border-radius: 1.6rem !important;
}

.x_pagination {
	padding: 1.5rem 0;
	background: white;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.6rem;
}

.x_pagination a {
	padding: 11px 16px;
	color: white;
	background: rgba(var(--primary-color), 0.85);
	border-radius: 4px;
	font-size: 0.8571em;
	cursor: pointer;
	transition: all 0.15s;
}

.x_pagination .next a,
.x_pagination .previous a {
	background: rgb(var(--primary-color));
}

.x_pagination a:hover {
	color: white;
	opacity: 0.8;
	box-shadow: 0 3px 8px 0 rgb(0 0 0 / 17%);
}

.x_pagination_disabled {
	cursor: not-allowed;
}

.x_pagination_disabled a {
	opacity: 0.5;
	pointer-events: none;
}

.x_pagination_active a,
.x_pagination_active a:hover {
	opacity: 1;
	background: rgb(var(--primary-color));
	color: white;
}
