html {
	/* Bình thường 1rem = 16px, dòng này làm 1rem = 10px; */
	font-size: 100%;

	/* 10px */
}

body {
	box-sizing: border-box;
	font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
	/* RESET lại font-size về 16px (1.6rem) */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.x_container {
	width: 100%;
	max-width: 128rem;
	margin: 0 auto;
	padding: 0 8rem;
}

.x_bg-primary {
	background: var(--primary-color) !important;
}

.x_border-8 {
	border-radius: 0.8rem !important;
}

.x_border-16 {
	border-radius: 1.6rem !important;
}
