/* DM SANS */
@font-face {
	font-family: DMSansRegular;
	src: url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap')
		format('truetype');
}

@font-face {
	font-family: DMSansBold;
	src: url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap')
		format('truetype');
}

@font-face {
	font-family: DMSansMedium;
	src: url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap')
		format('truetype');
}

/* POPPIN */
@font-face {
	font-family: PoppinLight;
	src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap')
		format('truetype');
}

@font-face {
	font-family: PoppinRegular;
	src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')
		format('truetype');
}

@font-face {
	font-family: PoppinSemiBold;
	src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap')
		format('truetype');
}

@font-face {
	font-family: PoppinBold;
	src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap')
		format('truetype');
}
