html {
	font-size: 62.5%;
	/* Bình thường 1rem = 16px, dòng này làm 1rem = 10px; */
}

body {
	font-size: 1.6rem;
	box-sizing: border-box;
	line-height: 1.6rem;
	font-family: 'PoppinRegular', Helvetica, Arial, sans-serif;
	/* RESET lại font-size về 16px (1.6rem) */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1023px) {
	html {
		font-size: 56.5%;
		/* 9px = 1rem */
	}
}

@media (max-width: 767px) {
	html {
		font-size: 52.5%;
		/* 8px = 1rem */
	}
}
